* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(252, 243, 195);
    word-wrap: break-word;
    overflow-x: hidden;
}

header {
    background-color: #643f07;
    color: #fff;
    padding: 1rem 0;

}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh !important;

}

nav ul {
    list-style: none;
    display: flex;
    position: relative;
    left: 100px;

}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    text-decoration: underline;
}

.logo img {
    width: 100%;
    max-width: 150px;
    border-radius: 100px;
}

.texto_principal {
    background: #643f07;
    color: #fff;
    padding: 2rem 0;
    text-align: center;

}

.texto_principal h1 {
    font-size: 2rem;
}

.texto_principal h2 {
    margin: 1rem 0;
}

.botao {
    background: #ff6600;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

.botao:hover {
    background: #e55b00;
}

section {
    padding: 2rem 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;

}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-indent: 20pt;
    padding: 10px;
}

.container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imgContainer {
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.slide_div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.imgContainer img {
    position: relative;
    height: 370px;
    width: 240px;
    filter: saturate(10%);
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}
.textoL {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 30px;
    left: 70px;
    font-size: 1rem;
}


#slider1:target~.imgContainer {
    left: 10%;
}

#slider2:target~.imgContainer {
    left: 20%;
}

#slider3:target~.imgContainer {
    left: 0%;
}

#slider4:target~.imgContainer {
    left: -20%;
}

#slider5:target~.imgContainer {
    left: -10%;
}


.imgContainer_p {
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.imgContainer_p img {
    position: relative;
    height: 370px;
    width: 240px;
    filter: saturate(10%);
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}


#slider1_P:target~.imgContainer_p {
    left: 50%;
}

#slider2_P:target~.imgContainer_p {
    left: 0%;
}

#slider3_P:target~.imgContainer_p {
    left: -25%;
}

#slider4_P:target~.imgContainer_p {
    left: -50%;
}


footer {
    background: #643f07;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    align-items:center ;
}

footer p {
    font-size: 0.9rem;
}

